/* la clase form es para una forma checa en admin.html que los buttona esta entre un form eso les da forma  */

form{

    margin: auto;
    width: 50%;
    max-width:  500px ;
    background: -o-repeating-linear-gradient( auto);
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);



}



/* el h1 y h1 son para darle forma a esos mismo  h1 y h2 */
h2{

margin: auto;

font-size: 100%;
}

h1{

margin: auto;
font-size: 150%;


}

/*esto le fa forma a los input osea alo textos */ 
input{
    
display: block;
padding: 10px;
width: 90%;
margin: 30px 0 ;
font-size: 20px;
}

/*y estos ultimo le de su forma al boton de enviar puedes aplicar el mismo o similares a los botones */
input[type="submit"]{

    background: linear-gradient(rgb(7, 155, 224), rgb(3, 52, 92));
    border: 0 ;
    color: black;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0; 
}

input[type="submit"] :hover{
opacity: 1.6;
}


input[type="submit"] :active {
    transform: scale(0.5);
    }